* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  text-align: center;
  padding-top: 100px;
}
.container {
  max-width: 1320px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}
h1 {
  width: 400px;
  padding: 20px;
  border: 3px solid black;
  border-radius: 10px;
  margin: 0 auto;
}
p {
  padding: 20px;
  width: 300px;
  border: 3px solid black;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 50px;
  font-size: 32px;
  font-weight: 600;
}
